/* 기본 스타일 초기화 */
body, h1, h2, h3, h4, p, div, label, button, input, select {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

/* 배경 이미지 설정 */
body {
  background-color: rgb(172, 206, 219);
  
}

/* 메인 앱 스타일 */
.App {
  background-image: url('autocam-background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
}

/* 제목 스타일 */
h1 {
  margin-bottom: 20px;
  color: #333;
  font-size: 4em;
  cursor: pointer;
  transition: color 0.3s, transform 0.3s;
}

/* 제목 호버 효과 */
h1:hover {
  color: red;
  transform: scale(1.5);
}

/* 라벨 스타일 */
label {
  display: block;
  margin-bottom: 5px;
  color: rgb(255, 196, 0);
  font-size: 25px;
  font-weight: bold;
}

/* 입력 및 선택 요소 스타일 */
select, input, button {
  margin-bottom: 15px;
  padding: 10px 15px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
  font-size: 25px;
  width: 250px;
}

/* 포커스 효과 */
select:focus, input:focus {
  outline: none;
  border-color: #3498db;
}

/* 버튼 스타일 */
button {
  background-color: #3498db;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* 버튼 호버 효과 */
button:hover {
  background-color: #329ce2;
}

/* 링크 버튼 스타일 */
.LinkButton {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  width: 187.5px; /* 셀렉트 박스 크기의 3/2 */
  text-align: center; /* 텍스트 가운데 정렬 */
  margin-top: 10px; /* 버튼 위 여백 추가 */
}

/* 링크 버튼 호버 효과 */
.LinkButton:hover {
  background-color: #2980b9;
}


input[type="radio"] {
  margin-right:-100px;
  margin-left: 0;
}

#switchButton {
  position: absolute; 
  top: 10px; 
  right: 10px; 
  z-index: 999; 
  background: none; 
  border: none; 
}

#switchButton img {
  width: 50px; 
  height: 50px; 
}

#detectedPersonText {
  margin-top: 20px; 
}

#goBackButton {
  margin-bottom: 20px; 
}
